// PRIMARY COLORS
$primary-color: radial-gradient(441.87% 148.66% at 31.82% -13.39%, #FF9B00 12.5%, #ED1C24 100%);
$brand1: #0000ff;
$brand2: #ed1c24;
$brand3: #ff9b00;
$black: #060919;
$white1: #ffffff;
$white2: #fafafa;

// BACKGROUND COLOR
$bg: #f7f5ed;
$blue: rgba(37, 99, 235, 1);
$green: rgba(20, 168, 0, 1);
$yellow: rgba(255, 201, 71, 1);

// TEXT COLORS
$grey1: rgba(62, 65, 80, 1);
$grey2: rgba(108, 113, 136, 1);
$grey3: rgba(218, 220, 226, 1);

// FONT
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Space+Grotesk:wght@400;600;700&display=swap");
