// PRIMARY COLORS
$primary-color: radial-gradient(
  441.87% 148.66% at 31.82% -13.39%,
  #ff9b00 12.5%,
  #ed1c24 100%
);
$brand1: #0000ff;
$brand2: #ed1c24;
$brand3: #ff9b00;
$black: #060919;
$white1: #ffffff;
$white2: #fafafa;

// BACKGROUND COLOR
$bg: #f7f5ed;
$blue: rgba(37, 99, 235, 1);
$green: rgba(20, 168, 0, 1);
$yellow: rgba(255, 201, 71, 1);

// TEXT COLORS
$grey1: rgba(62, 65, 80, 1);
$grey2: rgba(108, 113, 136, 1);
$grey3: rgba(218, 220, 226, 1);

// FONT
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap");

// BUTTONS
button {
  background: $primary-color;
  border: none;
  border-radius: 3.75rem;
  color: $white1;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}
// TYPOGRAPHY
h1,
p {
  font-style: normal;
}

h1,
h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.875rem;
  font-size: clamp(2.5rem, 4vw, 6.25rem);
}

p {
  font-size: clamp(1rem, 2vw, 24px);
}

p.set1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  opacity: 0.8;
}

p.set2 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
}

h2.class1{
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.625rem;
}
// IMAGES
img {
  object-fit: contain;
  max-inline-size: 100%;
}

ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: $white1;
}